<!-- <div class="container">
    <div class="row">
        <div class="col-md-6 col-12">
            <div class="fieldset">
                <h1><span>Login-Info</span></h1>
                <div class="row">
                    <div class="col-md-6  col-6">
                        <p>Name:-</p>
                    </div>
                    <div class="col-md-6  col-6"><span>{{userName}}</span></div>
                </div>
                <div class="row"></div>
                <div class="row">
                    <div class="col-md-6  col-6">
                        <p>Last Successful Login:-</p>
                    </div>
                    <div class="col-md-6  col-6"><span>{{todaysDate}} {{todaysTime}}</span></div>
                </div>
                <div class="row">
                    <div class="col-md-6  col-6">
                        <p>Last Failure Login:-</p>
                    </div>
                    <div class="col-md-6  col-6"><span>{{todaysDate}} {{todaysTime}}</span></div>
                </div>
                <div class="row">
                    <div class="col-md-6  col-6">
                        <p>Last Change Password:-</p>
                    </div>
                    <div class="col-md-6  col-6"><span>{{todaysDate}} {{todaysTime}}</span></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="fieldset">
                <h1><span>Profile</span></h1>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-6">
                    </div>
                    <div class="col-md-12 col-sm-12 col-12 d-flex justify-content-center">
                        <mat-radio-group aria-label="Select an option" (change)="radioButtonGroupChange($event)">
                            <mat-radio-button color="primary" [checked]="true" value="1">Profile</mat-radio-button>
                            <mat-radio-button color="primary" class="ms-3" value="2">Service</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <ng-container *ngIf="display==true; then profileBlock else serviceBlock">
                    </ng-container>
                    <ng-template #serviceBlock>
                        <div class="row">
                            <div class="col-md-12 col-12 d-flex justify-content-center">
                                <mat-form-field class="w-100 pad" appearance="outline">
                                    <mat-label>Department</mat-label>
                                    <select matNativeControl required placeholder="Select Department"
                                        (change)="changeDepartment(SelectedDepartment)"
                                        [(ngModel)]="SelectedDepartment">
                                        <option *ngFor="let Dept of Department" [value]="Dept.DepartCode">
                                            {{Dept.DepartName}}</option>
                                    </select>
                                </mat-form-field>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12 col-12 d-flex justify-content-center">
                                <mat-form-field class="w-100 pad" appearance="outline">
                                    <mat-label>Service</mat-label>
                                    <select matNativeControl required>
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="mercedes">Mercedes</option>
                                        <option value="audi">Audi</option>
                                    </select>
                                </mat-form-field>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template #profileBlock>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-12 d-flex justify-content-center">
                                <mat-form-field class="w-100 pad" appearance="outline">
                                    <mat-label>Profile</mat-label>
                                    <select matNativeControl required placeholder="Select Profile"
                                        (change)="changeProfile(SelectedProfile)" [(ngModel)]="SelectedProfile">
                                        <option *ngFor="let pro of Profile" [value]="pro.UserPro">{{pro.UserProfile}}
                                        </option>
                                    </select>
                                </mat-form-field>
                            </div>
                        </div>
                    </ng-template>
                    <div class="row ">
                        <div class="col-md-12 ">
                            <button class="btn btn-link btn-link-secondary ms-2 float-end" mat-button color="secondary"
                                (click)="createProfileClick()">Create Profile</button>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <button class="btn btn-secondary ms-2 text-center" mat-raised-button color="secondary"
                                (click)="continueClick()">Continue</button>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="col-md-12 col-12">
            <div>
                <div class="fieldset" style="cursor: pointer;" (click)="onTransaction()">
                    <h1><span>Show Last 10 Transaction</span></h1>
                </div>
                <div *ngIf="showtrans">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>Sr.no</th>
                            <th>Challan Date</th>
                            <th>GRN</th>
                            <th>Status</th>
                            <th>Payment Type</th>
                            <th>Amount</th>
                            <th>Repeat</th>
                            <th>View</th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr *ngFor="let student of students">
                            <td>{{ student.id }}</td>
                            <td>{{ student.ChallanDate }}</td>
                            <td>{{ student.Grn }}</td>
                            <td>{{ student.Status }}</td>
                            <td>{{ student.PaymentType }}</td>
                            <td>{{ student.Amount }}</td>
                            <td>Repeat</td>
                            <td>View</td>
                            <td>{{student.Verify}}</td>
                            <td></td>
                        </tr>
                    </table>
                    <div style="width: 100%; " (click)="onclosetrans()" class="text-center">
                        <button class="btn btn-link btn-link-secondary ms-2 " mat-button color="secondary">Click Here To
                            Hide</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  -->
<div class="container">
    <div class="row">
        <!-- <div class="col-md-12"> -->
        <div class="cont-main ">
            <div class="cont-checkbox col-md-12" *ngFor="let car of cars; index as i">
              <input type="radio" name="myRadio" [id]="'myRadio-' + i" (click)="onclick(car.id)"/>
              <label [for]="'myRadio-' + i">
                <img [src]="car.img" />
                <span class="cover-checkbox">
                  <svg viewBox="0 0 12 10">
                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                  </svg>
                </span>
                <div class="info">{{ car.name }}</div>
              </label>
            </div></div>
        <!-- <div class="col-md-12 col-sm-12 col-12 justify-content-center">
            <mat-radio-group aria-label="Select an option" (change)="radioButtonGroupChange($event)"
                style="display: flex;">
                <div class="col-md-3">
                    <mat-radio-button color="primary" value="1">New Challan</mat-radio-button>
                </div>
                <div class="col-md-3">
                    <mat-radio-button color="primary" value="2">Service Challan</mat-radio-button>
                </div>
                <div class="col-md-3">
                    <mat-radio-button color="primary" value="3">Tender Challan</mat-radio-button>
                </div>
                <div class="col-md-3">
                    <mat-radio-button color="primary" value="4">Search Challn</mat-radio-button>
                </div>
            </mat-radio-group>
        </div> -->
    <!-- </div> -->
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="col-md-12">
            <div class="row" style="margin-top: 30px;">
                <div class="col-md-12 col-12">
                    
                        <div class="fieldset" style="cursor: pointer;" >
                            <h1><span>Latest Transaction</span></h1>
                            <table class="table" style="border-bottom: none;">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">Sr.no</th>
                                    <th scope="col">Challan Date</th>
                                    <th scope="col">GRN</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Payment Type</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Repeat</th>
                                    <th scope="col">View</th>
                                    <th scope="col">Actions</th>
                                    <th scope="col"></th>
                                </tr></thead>
                                <tbody>
                                <tr *ngFor="let student of students">
                                    <td>{{ student.id }}</td>
                                    <td>{{ student.ChallanDate }}</td>
                                    <td>{{ student.Grn }}</td>
                                    <td>{{ student.Status }}</td>
                                    <td>{{ student.PaymentType }}</td>
                                    <td>{{ student.Amount }}</td>
                                    <td>Repeat</td>
                                    <td>View</td>
                                    <td>{{student.Verify}}</td>
                                    <td></td>
                                </tr></tbody>
                            </table>
                    </div>
                    
                </div>
            </div>
            <!-- <mat-accordion>
                <mat-expansion-panel class="mb-3 card_accordion" (opened)="panelOpenState = true"
                                    (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      
                    </mat-panel-title>
                    <mat-panel-description>
                        <h2>Latest Transaction</h2>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  
                  <table class="table  table-hover">
                    <tr>
                        <th>Sr.no</th>
                        <th>Challan Date</th>
                        <th>GRN</th>
                        <th>Status</th>
                        <th>Payment Type</th>
                        <th>Amount</th>
                        <th>Repeat</th>
                        <th>View</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr *ngFor="let student of students">
                        <td>{{ student.id }}</td>
                        <td>{{ student.ChallanDate }}</td>
                        <td>{{ student.Grn }}</td>
                        <td>{{ student.Status }}</td>
                        <td>{{ student.PaymentType }}</td>
                        <td>{{ student.Amount }}</td>
                        <td>Repeat</td>
                        <td>View</td>
                        <td>{{student.Verify}}</td>
                        <td></td>
                    </tr>
                </table>
                </mat-expansion-panel>
            </mat-accordion> -->
        </div>
    </div>
</div>