mat-form-field{
    padding-top: 20px;
    margin-left: 20px !important;
  
  }
  .additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }
  .select-container{
    margin-top:10px;
  }
  .showDiv1 {
    display: flex;
    margin-block: -22px;
    flex-direction: row;
    margin-inline: 20px;
  }
/* .........scolling css----*/

.example-1 {
  position: relative;
  overflow-y: scroll;
  height: 300px;
  width: 100%;
}  


.example-2 {
    position: relative;
    /* overflow-y: scroll; */
    height: 300px;
    /* width: 100%; */
}